<div class="ma-floating-box ma-border" layout="column">
    <div class="name">{{ ctrl.box.owner }}</div>
    <div class="photo">
        <img class="photo" src="{{ ctrl.box.image }}">
    </div>
    <div layout="row">
        <div class="amount" flex>{{ ctrl.box.amount }}</div>
        <div class="good" flex>{{ ctrl.box.type }}</div>
    </div>
    <div layout="row" ng-show="ctrl.rw" layout-align="center">
        <md-button class="md-raised" ng-click="ctrl.dec()">dec</md-button>
        <md-button class="md-raised" ng-click="ctrl.inc()">inc</md-button>
    </div>
</div>