<!doctype html>
<html lang="en" ng-app="main">

<head>
    <meta charset="utf-8">
    <title>Piggybank</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div layout="column" ng-controller="ctrl as main">
        <div class="ma-header"></div>
        <div class="ma-content" layout="row" layout-sm="column" layout-align="center center">
            <ma-piggybank rw="main.isAuthenticated" box="box" ng-repeat="box in main.boxes"></ma-piggybank>
        </div>
        <div style="text-align: center;">
            <input type="checkbox" ng-model="main.isAuthenticated">
            isAuthenticated: {{ main.isAuthenticated }}
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/progressbar.js/dist/progressbar.js"></script>
    <script src="bower_components/ng-droplet/dist/ng-droplet.min.js"></script>
    <script src="angular-piggybank.js"></script>
    <script src="main.js"></script>
</body>

</html>