.ma-header {
    height: 50px;
}
.ma-piggybank {
    margin: 20px;
    min-width: 250px;
    max-width: 250px;
    min-height: 300px;
    max-height: 300px;
    /*background-color: whitesmoke;*/
}
.name,
.photo,
.amount,
.good,
.decrease,
.increase {
    text-align: center;
    /*background-color: lightgrey;*/
    
    margin: 2px;
}
.name,
.amount,
.good,
.decrease,
.increase {
    height: 50px;
}
.photo {
    min-height: 134px;
    max-height: 134px;
    background-color: whitesmoke;
}
.drop {
    background-color: whitesmoke;
}